<div class='main-headline'>Started: {{{status.main.started}}}</div>
{{#each status.locations}}
  <div class='location'>
    <div class='location-header'>{{lookup ../labels @key}}:</div>
    <div class='settings'>
      <form action='/settings/{{@key}}' method='post' id='settings'>
        <table>
          <tr>
            <td>Nachlaufzeit:</td>
            <td><input style='width:30px' type="text" name="trailingTime" value={{this.settings.trailingTime}}></td>
            <td>Luftfeuchtigkeit [min]:</td>
            <td><input style='width:30px' type="number" name="humidityMinThreshold" value={{this.settings.humidityMinThreshold}}>%</td>
            <td>Minimale Lüfter Laufzeit:</td>
            <td><input style='width:30px' type="text" name="minRunTime" value={{this.settings.minRunTime}}></td>
          </tr>
          <tr>
            <td>Licht Laufzeit:</td>
            <td><input style='width:30px' type="text" name="lightTimeout" value={{this.settings.lightTimeout}}></td>
            <td>Luftfeuchtigkeit [max]:</td>
            <td><input style='width:30px' type="number" name="humidityMaxThreshold" value={{this.settings.humidityMaxThreshold}}>%</td>
          </tr>
          <tr>
            <td><button type='submit' form='settings' value='Submit'>update</button></td>
          </tr>
        </table>
      </form>

    </div>

    {{#each this.values}}
      <div class='field-set__field'>
        <div class='field-set__field__label'>{{lookup ../../labels @key}}:</div>
        <div class='field-set__field__value'>
          <div class='field-set__field__value__data field-set__field__value__data--{{{this.value}}}'>{{{this.value}}}{{lookup ../../units @key}}</div>
          <div class='field-set__field__value__since'>seit {{{this.since}}}</div>
        </div>
      </div>
    {{/each}}
    <div class='change-links'>
      <a class='change-link change-link--auto' href="{{{this.setAutoLink}}}">auto</a>
      <a class='change-link change-link--off' href="{{{this.setOffLink}}}">off</a>
      <a class='change-link change-link--min' href="{{{this.setMinLink}}}">min</a>
      <a class='change-link change-link--max' href="{{{this.setMaxLink}}}">max</a>
    </div>
  </div>
{{/each}}
